{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "8.10"
                }
            }
        ],
        "flow",
        "stage-0"
    ]
}
